git config --local user.name "HisatoSuzuki"
git config --local user.email ""

git submodule foreach   git config --local user.name "HisatoSuzuki"
git submodule foreach   git config --local user.email ""


# HisatoSuzuki:createhars.packages.docker.publish
export GITHUB_PERSONAL_USER_NAME=HisatoSuzuki
export GITHUB_PERSONAL_ACCESS_TOKEN=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

